.drop-zone {
  display: flex;
  flex-direction: column;
  min-width: auto;
  &.is-drop-target {
    > .drop-zone-block {
      background: var(--P300);
      height: 4px;
    }
  }
  .drop-zone-block {
    height: 0;
    transition: height 0.1s ease-out;
  }
}

.drop-zone-stage {
  display: flex;
  flex-direction: row;
  min-width: auto;
  &.is-drop-target {
    > .drop-zone-vertical-block {
      background: var(--P300);
      width: 4px;
      height: 100%;
      margin-right: var(--size-2);
    }
  }
  .drop-zone-vertical-block {
    width: 0;
    transition: height 0.1s ease-out;
  }
}
