.stage-tile {
  background: var(--background);
  border: 1px solid var(--P300);
  padding: var(--size-3);
  border-radius: var(--border-r3);
  user-select: none;
  min-width: 200px;
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;

  .stage-tile-header {
    font-weight: bold;
    height: 20px;
    max-width: 350px;
    overflow: hidden;
    color: var(--body);
    .stage-tile-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .add-process-button {
    background-color: var(--P50);
    border: 1px dashed var(--P75);
    color: var(--P300);
    justify-content: space-between;
    font-size: 12px;
    padding: var(--size-2);
    &.is-drop-target {
      border: 1px dashed var(--P300);
      color: transparent;
    }
  }

  .no-processes-message {
    border-radius: var(--border-r2);
    background-color: var(--N50);
    border: var(--basic-border);
    color: var(--N500);
    justify-content: space-between;
    font-size: 12px;
    padding: var(--size-2);
  }

  &:hover {
    box-shadow: var(--focus-shadow);
    cursor: pointer;
  }

  &.selected {
    box-shadow: var(--focus-shadow);
  }

  &.dragging {
    opacity: 0.5;
    cursor: grabbing;
    border: var(--select-active-border);
    background-color: var(--P50);
  }
}
