.case-map-flow {
  padding: var(--size-4);
  .case-map-row {
    display: grid;
    grid-template-columns: repeat(var(--items-per-row), minmax(0, 1fr));
  }
  .case-map-row.reversed {
    direction: rtl;
  }

  .case-map-row.reversed > * {
    direction: ltr;
  }

  .stage-header {
    width: 100%;
    height: 25px;
  }

  .stage-line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--P300);
  }
  .stage-vertical-line {
    width: 1px;
    min-height: 20px;
    flex-grow: 1;
    background-color: var(--P300);
  }

  .stage-line-hidden {
    flex-grow: 1;
    height: 1px;
    background-color: 'none';
  }

  .stage-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--P300);
    color: var(--P300);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition:
      background 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      box-shadow: var(--focus-shadow);
      cursor: pointer;
    }
    &.selected {
      background-color: var(--P300);
      color: var(--background);
    }
  }

  .add-stage-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--P50);
    border: 1px solid var(--P300);
  }

  .add-stage-slot {
    background-color: transparent;
    height: 100%;
    width: 8.5px;
    margin: 2px;
  }
  .placeholder-stage {
    width: 0px;
    height: 50px;
    transition: width 0.2s ease;
  }
  .placeholder-stage.visible {
    cursor: pointer;
    background: var(--P300);
    border: 1px dashed var(--P300);
    color: var(--P300);
    height: 100%;
    width: 2px;
    transition: height 0.2s ease;
  }

  .placeholder-stage.is-drop-target {
    background: var(--P300);
    border: 1px dashed var(--P300);
    color: var(--P300);
    height: 100%;
    width: 2px;
  }
}
